<!--
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="https://i.postimg.cc/7YyYRCbd/contribute.jpg" height="200px" width="200px" alt="">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
</div>--><br>
<br>
<br>
<br>
<h2>REQUEST LIST</h2>
                   <table class="table">
                           <thead>
                                <tr>
                                    <th>Sl.No</th>
                                        <th>Request Type</th>
                                        <th>Description</th>
                                        <th>Fund Needed(Rs)</th>
                                        <th>Requested By</th>
                                        <th>Created Date</th>
                                </tr>
                            </thead>
                           <tbody>
                                <tr *ngFor="let data of data;let i=index">
       
                                        <td>{{i+1}}</td>
                                        <td>{{data.categoryName}}</td>
                                        <td>{{data.description}}</td>
                                        <td>{{data.fundNeeded}}</td>
                                        <td>{{data.requestedByName}}</td>
                                        <td>{{data.createdDate}}</td>
                                
                                        <td><a class="btn btn-primary" routerLink="{{data.id}}" >Contribute </a></td>
                                        <td><a class="btn btn-info" routerLink="../list-requestcontribution/{{data.id}}" >view </a></td>
                                
                                    </tr>
                            </tbody>
                       </table>
   
         
      
<!--
<h2>   REQUEST LIST </h2>

<br>

<table class="table">
   <thead>
       <tr>
           <th>Request Id</th>
           <th>Fund Needed</th>
           <th>Requested By</th>
           <th>Created Date</th>
       </tr>
   </thead>
   <tbody>
       <tr *ngFor="let data of data">
           <td>{{data.id}}</td>
           <td>{{data.fundNeeded}}</td>
           <td>{{data.requestedBy}}</td>
           <td>{{data.createdDate}}</td>
       </tr>
   </tbody>
</table>


-->
