<div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card border-secondary">
                      <div class="card-body">
                        <i class="card-img-top ion-ios-paper-outline" style="font-size: 70px;background-color: rgb(248, 248, 248);padding: 0 10px;"></i>
                        <h4 class="card-title"> Requestor Video</h4>
                        <div class="card-text">
<!--<table class="table">


<thead>
    <tr>
    
        <th>Video Id</th>
        <th>Video title</th>
        <th>Url</th>
        <th> Date</th>
        
    </tr>
</thead>
<tbody>
   
    <tr *ngFor="let data of videoList">
        <td>{{data.id}}</td>
        <td>{{data.title}}</td>
        <td>{{data.url}}</td>
        <td>{{data.createdDate}}</td>
    </tr>
    
</tbody>
</table>-->
<div class="card text-dark bg-light" *ngFor="let data of videoList">
    <iframe class="card-img-top" width="420" height="345" src="//drive.google.com/file/d/14ZrO7I8CSvKrPyQeapq1G8UXCS6RLMFl/view"></iframe>
    <div class="card-body">
      <h4 class="card-title">{{data.title}}</h4>
      <p class="card-text">Created On:{{data.createdDate}}</p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
