<p>forgotpassword works!</p>
<div class="row justify-content-center align-items-center" style="height:80vh;">
        <div class="col-md-4">
          <div class="card border-info">
            <div class="card-body">
              <h4 class="card-title">Forgot password</h4>
              <div *ngIf="!isSendMail">
                  <label for="email">Email</label>
                  <input type="text" [(ngModel)]="email" required class="form-control" placeholder="Email address">
                  <button type="submit" (click)="sendMail()" class="btn btn-outline-info">Submit</button>
              </div>
              <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="isSendMail">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>Check your mail...</p>
              </div>
            </div>
          </div>
            
            
           
            
        </div>
    </div> 
