<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">REVATURE CHARITY TRUST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item" *ngIf='!isLoggedIn()'> 
            <a class="nav-link" routerLink="../donorregister">new User<span class="sr-only">(current)</span></a>
          </li>  
          <li class="nav-item" *ngIf='!isLoggedIn()'>
     <a class="nav-link" routerLink="../adminlogin">Sign In <span class="sr-only">(current)</span></a>
   </li>
   <!--  
       <li class="nav-item" *ngIf='isLoggedIn()'>
     <a class="nav-link"  routerLink="../donorcontribute"> Wanna Contribute!! <span class="sr-only">(current)</span></a>
   </li>-->
   <li class="nav-item" *ngIf='isLoggedIn()'>
    <a class="nav-link"  routerLink="../listrequest"> Request list <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item" *ngIf='isLoggedIn()'>
    <a class="nav-link"  routerLink="../donortransaction"> Contributors <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item" *ngIf='isLoggedIn()'>
    <a class="nav-link"  routerLink="../mydonationlist"> My Donation <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item" *ngIf='isLoggedIn()'>
    <a class="nav-link" (click)='logout()'>Welcome {{authservice.getUser().name}} :)  Log Out  </a>
  </li>  
    </ul>
        
    </div>
</nav>

