<!--
<br>
<br>
<br>
<br><h2>MY DONATION</h2>
<br>
<br>
<br>
<table class="table">
   <thead>
       <tr>
           <th>Request Id</th>
           <th>User Name</th>
           <th>Donated Amount</th>
           <th>Date</th>
           <th>updated on</th>
       </tr>
   </thead>
   <tbody>
       <tr *ngFor="let data of data">
           <td>{{data.requestId}}</td>
           <td>{{data.userId}}</td>
           <td>{{data.amount}}</td>
           <td>{{data.createDate}}</td>
           <td>{{data.updateDate}}</td>
       </tr>
   </tbody>
</table>
-->
<div class="row justify-content-center">
   <div class="col-md-5">
       <div class="card border-secondary">
         <div class="card-body">
           <i class="card-img-top ion-ios-paper-outline" style="font-size: 70px;background-color: rgb(248, 248, 248);padding: 0 10px;"></i>
           <h4 class="card-title">My DONATION</h4>
           <div class="card-text">
                   <table class="table">
                           <thead>
                                <tr>
                                        <th>Sl.No</th>
                                        <th>Request Type</th>
                                        <th>Donated Amount</th>
                                        <th>Donated On</th>
                                    
                                </tr>
                            </thead>
                           <tbody>
                                <tr *ngFor="let data of data;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{data.categoryName}}</td>
                                        <td>Rs.{{data.fundNeeded}}</td>
                                        <td>{{data.createdDate}}</td>
                                        
                                    </tr>
                            </tbody>
                       </table>
                   </div>
         </div>